@import 'public';
@import 'pub';
body{
    height: 5000px;
}
main{
    #header{
        padding: 27px 90px;
        width: 120px;
        height: 25px;
        a{
            font-size: 24px;
            color: #44883e;
            font-weight: bold;
        }
    }
    #center{
        padding: 0px 90px;
        padding-bottom: 27px;
        display: flex;
        justify-content: space-between;
        #left{
            p{
                font-size: 29px; 
                color: #3e3a39;
                letter-spacing: 2px;  
            }
            
        }
        #right{
            height: 29px;
            line-height: 29px;
            display: flex;
            color: #3e3a39;
            font-size: 14px;
            :nth-child(1){
                padding-right: 5px;
                a{
                    color: #3e3a39;   
                }
                
            }
            :nth-child(2){
                color: #dd1944;
                span{
                    display: inline-block;
                    font-size: 24px;
                }
            }
            #p3{
                margin-left: 16px;
                width: 120px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                background: #dd1944;
                font-size: 16px;
                a{
                    color: white;
                }
            }
        }
    }
    #bottom{
        img{
            width: 100%;
            height: 100%;
        }
    }
    #content{
        padding: 27px 90px;
        #img{
            border-bottom: 1px solid #d8d8d8;
            img{
                width: 100%;
                height: 100%;   
            }
            
        }
        #evaluation{
            margin: 125px 0 40px;
            img{
                width: 100%;
                height: 100%;  
            }
            :nth-child(2){
                display: block;
                width: 220px;
                margin:20px  auto;
            }
        }
    }
}
#run{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 90px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    // transition: all 1s;
    opacity: 0;
    #left{
        font-size: 24px;
        color: #3e3a39;
    }
    #right{
        margin-left: 618px;
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        width: 335px;
        text-align: center;
        font-size: 17px;
        a{
          color: #ababac;  
        }
        #last{
            margin-top: 6px;
           font-size: 16px;
            a{
                display: block;
                width: 120px;
                height: 30px;
                background: #dd1944;
                line-height: 30px;
                color: white;
            }
            
        }
    }
}
#popout{
    display: none;
    width: 530px;
    height: 323px;
    border: 1px solid gray;
    padding: 35px 35px 50px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -265px;
    margin-top:-161px;
    background: white;
    #wrong{
        font-size: 20px;
        float: right;
        a{
            color: #191919;
        }
    }
    #top{
        margin-bottom: 10px;
        :nth-child(1){
            color: #191919;
            font-size: 18px;
            margin-bottom: 10px;
            span{
                font-size: 18px;
                color: #df1010;
                margin-left: 30px;
            }
        }
        :nth-child(2){
            color: #ababac;
            font-size: 12px;
        }
    }
    #center{
        display: flex;
        #left{
            img{
                width: 200px;
                height: 200px;
            }
        }
        #right{
            margin-left: 25px;
            #p{
                p{
                    margin-bottom: 10px;
                    margin-right: 10px;
                    font-size: 12px;
                    color: #191919;
                }
                #kind{
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: 15px;
                    #pen{
                        width: 95px;
                        height: 36px;
                        background: rgba(255,64,85,.03);
                        border: 1px solid rgb(218, 217, 217);
                        border-radius: 4px;
                        text-align: center;
                        line-height: 36px;
                    }
                    #pencil{
                        @extend #pen;
                    }
                    #suit{
                        @extend #pen;
                    }
                }
                
            }
            
        }
        #num{
            p{
                font-size: 12px;
                color: #191919;
                margin-bottom: 15px;
            }
            #arithmetic{
                a{
                  color: #dddada;  
                }
                

            }
        }
    }
    #bottom{
        margin: 50px 0px;
        width: 530px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        #cart{
            img{
                width: 25px;
            }
        }
        #btn{
            
            line-height: 40px;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            
            #join{
                width: 164px;
                height: 40px;
                text-align: center;
                border-radius: 5px;
                background:#494949;
                margin-right: 10px;
                a{
                    color: white;
                }
            }
            #buy{
                @extend #join;
                background: #df1010;
            }
        }
    }
}